

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <i class="fa fa-sun-o" aria-hidden="true"></i><a class="navbar-brand" href="#"> Forecast</a>
    </div>
  </div>
</nav> 
  
<div class="container-fluid text-center">  
  <div class="row" style="padding-top:10px;padding-bottom:10px;">
    <div class="offset-sm-9 col-sm-3">
      <div class="form-group has-search">
        <input type="text" placeholder="Search.." name="search2" class="searchBar" [(ngModel)]="inputCity">
  <button type="button" (click)="getCityDetails()" class="searchBtn"><i class="fa fa-search"></i></button>
      </div>
      
    </div>
    <br />
  </div>  
  <div class="row">
    <div class="offset-sm-2 col-sm-2 text-left"> 
        <app-current-date-time></app-current-date-time>
    </div>
    <div class="col-sm-2 text-left"> 
      <p>{{this.currentData.name}}, {{this.currentData.sys.country}}</p>
      <p>{{this.rawTemp}}<sup>oc</sup></p>
      <p>{{this.currentData.weather[0].description}}</p>
  </div>
  <div class="col-sm-4 text-left"> 
    <app-radial-guage [value]='this.currentData.wind.deg'></app-radial-guage>
</div>
  <div class="row barData" >
    <p class="offset-sm-2 offset-md-2 col-sm-2 col-md-2">Pressure: {{this.currentData.main.pressure}}</p>
    <p class="col-sm-2 col-md-2">Humidity: {{this.currentData.main.humidity}}</p>
    <p class="col-sm-2 col-md-2">Wind Speed: {{this.currentData.wind.speed}} m/s</p>
    <p class="col-sm-2 col-md-2">Cloud: {{this.currentData.clouds.all}} %</p>
  </div>
  <div class="offset-sm-2 col-sm-10">
  <app-charts [value]="this.historicalData"></app-charts>
</div>
</div>
  

<footer class="container-fluid">
  <p>&copy; WindGauge 2021</p>
</footer>


