.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #202020;
    padding-left: 4%;
  }

  .navbar-brand{
    color:#202020;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  .headerStyle
  {
    color: white !important;
  }
  .footerStyle
  {
      margin-top:13px;
  }
  /* Set black background color, white text and some padding */
  footer {
    background-color: #f5f5f5;
    color: #202020;
    position: fixed;
    padding-top:9px;
   left: 0;
   bottom: 0;
   width: 100%;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
  
  .main {
    width: 50%;
    margin: 50px auto;
  }
  
  .tempGraph{
    text-align: left;
    margin-left: 5%;
    border-bottom:1px solid#e0e0e0;
    width:80px;
  }
  .barData{
    margin: 5px 10% 5px 10%;
    border-bottom:1px solid #e0e0e0;
    border-top:1px solid #e0e0e0;
    width:80%;
  }
  .barData p{
    margin-bottom: 8px !important;
  }
  /* Bootstrap 4 text input with search icon */
  
  .has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .searchBar{
    border: none;
    border-bottom: 1px solid #202020;
  }
  
  .searchBtn{
    background: transparent;
    border: none;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
